body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0px;
}

h1 {
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Remplace l'ancienne classe image-container */
.kanji-container {
    margin-right: 20px;
}

.kanji-display {
    font-size: 100px; /* Taille du kanji */
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.kanji-display:hover {
    transform: scale(1.05);
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.option {
    background-color: #8a83a4;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
    width: 150px;
}

.option:hover {
    background-color: #0056b3;
}

/* Bandeau de navigation */
nav {
    background-color: #333;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative; /* Prend toute la largeur de l'écran */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Distribution égale des éléments */
    align-items: center;
    height: 50px; /* Hauteur du bandeau  */
}

nav ul li {
    margin: 0;
    padding: 0;
    height: 100%; /* Le lien prend toute la hauteur du bandeau */
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px; /* Ajoute de l'espace horizontal */
    transition: background-color 0.3s ease;
}

nav ul li:hover {
    background-color: #575757; /* Change la couleur de fond au survol */
}
